//paleta de colores
$color1: tomato;
$color2: red;
$color3: springgreen;
$color4: white;
$color5: #333;
$color6: black;





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: $color1;
}

.nav-link{
    color: $color4 !important;
    padding-left: 20px !important;
}

.nav-link:hover{
    transform: scale(1.15) !important;
    background-color: $color2;
    font-weight: bolder;
}

.navbar-toggler:hover{
    transform: scale(1.15) !important;
}

body{
    background-image: linear-gradient(to right, $color3, $color5);
}

h3{
    color: $color4;
    font-family: cursive;
}

footer{
    background-color: $color1;
    padding: 20px;
}

footer .redes{
margin-top: 20px;
text-align: center;
font-size: 40px;
/* padding: 20px; */
}

footer a{
    color: $color4;
}

::-webkit-scrollbar{
    background-color:  $color1;
}

::-webkit-scrollbar-thumb{
    background-color: $color4;
    border-radius: 10px;
    box-shadow: inset 0 0 2px $color5;
}    

.subir{
    background-color: $color1;
    color: $color4;
    height: 40px;
    width: 40px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    border: 3px solid $color4;
    border-radius: 50%;
}

.wsapp{
    background-color: $color1;
    color: $color4;
    height: 40px;
    width: 40px;
    position: fixed;
    right: 40px;
    bottom: 100px;
    text-align: center;
    line-height: 40px;
    border: 3px solid $color4;
    border-radius: 50%;
}
